.nav_menu__item {
    padding: 10px;
    display: inline-block;
    background-color: #eee;
    margin: 5px;
}

.service__offers_item {
  float: left;
  width: 300px;
  height: 400px;
  margin: 10px;
  background: aliceblue;
}

.service__offers_image {
  height: 200px;
  width: 300px;
}

.service__offers_list {
  list-style: none;
}
